<div class="portfolioItem" id={{id}}>
    <img class="snipe" src={{snipe}} alt="" />
    {{#if (isDefined img)}}
    <div
        class="relative h-[100px] hover:h-[200px] md:hover:h-[300px] transition-all motion-reduce:transition-none ease-in-out duration-500 overflow-hidden">
        <div class="shade">
        </div>
        <img src="{{img}}" alt="{{project}}" class="object-cover object-top w-full h-full overflow-hidden ">
    </div>{{/if}}
    <div class="flex flex-row">
        <div class="label">
            <p>Project</p>
        </div>
        <div class="content">
            <p>{{project}}</p>
        </div>
    </div>

    <div class="flex flex-row ">
        <div class="label">
            <p>Role</p>
        </div>
        <div class="content">
            <p>{{role}}</p>
        </div>
    </div>

    <div class="flex flex-row">
        <div class="label">
            <p>URL</p>
        </div>
        <div class="content {{#if (isDefined pw)}}flex flex-row flex-wrap justify-start{{/if}}">
            <a {{#if (isDefined pw)}}class="pr-4" {{/if}} href="{{url}}" data-track="{{project}}" target="_blank">{{#if
                (isDefined
                text)}}{{text}}{{else}}{{url}}{{/if}}</a>
            {{#if (isDefined pw)}}
            <div class="pr-4">
                <p class="opacity-40">PW:</p>
            </div>
            <div class="">
                <p>{{pw}}</p>
            </div>
            {{/if}}
        </div>
    </div>

    <div class="flex flex-row ">
        <div class="label">
            <p>Notes</p>
        </div>
        <div class="content">
            <p>{{notes}}</p>
        </div>
    </div>
</div>