<div class="portfolioItem" id={{id}}>
    <img class="snipe" src={{snipe}} alt="" />
    {{#if (isDefined img)}}
    <div class="portfolioItemBanner relative h-[100px] hover:h-[200px] md:hover:h-[300px] transition-all motion-reduce:transition-none ease-in-out duration-500 overflow-hidden {{#if (isDefined modalContent)}}cursor-pointer{{/if}}"
        data-modal-content="{{modalContent}}">
        <div class="shade pointer-events-none">
        </div>
        <img src="{{img}}" alt="{{project}}" class="object-cover object-center w-full h-full overflow-hidden">
    </div>{{/if}}
    <div class="flex flex-row">
        <div class="label">
            <p>Project</p>
        </div>
        <div class="content">
            <p>{{project}}</p>
        </div>
    </div>

    <div class="flex flex-row ">
        <div class="label">
            <p>Role</p>
        </div>
        <div class="content">
            <p>{{role}}</p>
        </div>
    </div>

    <div class="flex flex-row">
        <div class="label">
            <p>URL</p>
        </div>
        <div class="content {{#if (isDefined pw)}}flex flex-row flex-wrap justify-start{{/if}}">
            {{#if (isDefined url)}}
            <a {{#if (isDefined pw)}}class="pr-4" {{/if}} href="{{url}}" data-track="{{project}}" {{#if (isDefined
                modalContent)}}data-modal-content="{{modalContent}}" {{/if}} target="_blank">
                {{#if (isDefined text)}}{{text}}{{else}}{{url}}{{/if}}
            </a>
            {{else if (isDefined modalContent)}}
            <a {{#if (isDefined pw)}}class="pr-4" {{/if}} href="javascript:void(0)"
                data-modal-content="{{modalContent}}">
                View
            </a>
            {{/if}}

            {{#if (isDefined pw)}}
            <div class="pr-4">
                <p class="opacity-40">PW:</p>
            </div>
            <div class="">
                <p>{{pw}}</p>
            </div>
            {{/if}}
        </div>
    </div>

    <div class="flex flex-row ">
        <div class="label">
            <p>Notes</p>
        </div>
        <div class="content">
            <p>{{notes}}</p>
        </div>
    </div>
</div>